*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.section {
  background-color: black;
  padding-top: 7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* autofill settings */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #fcd34d; /* szöveg színe */
  caret-color: #fcd34d;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset; /* háttér színe */
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 9999s ease-out 0s;
}

.nav-link-custom {
  color: #ffb32f;
}

.nav-link-custom:hover {
  color: #f59e0b;
  transition: 0.3s;
}

.opening-table {
  --bs-table-bg: transparent;
  --bs-table-color: var(--bs-warning);
  --bs-table-border-color: var(--bs-secondary-border-subtle);
}

.opening-table > :not(caption) > * > * {
  color: var(--bs-warning);
  background-color: transparent;
}

.faq-accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-color: var(--bs-warning);
  --bs-accordion-btn-color: var(--bs-warning);
  --bs-accordion-active-bg: transparent;
  --bs-accordion-active-color: var(--bs-warning);
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-border-color: var(--bs-warning);
}

.faq-accordion .accordion-button::after {
  filter: invert(74%) sepia(65%) saturate(600%) hue-rotate(357deg)
    brightness(103%) contrast(101%);
}

.faq-accordion .accordion-item:last-child {
  margin-bottom: 0 !important;
}

.booking-modal-dialog {
  max-width: 700px;
}

.contacts-form .form-floating > label,
.contacts-form .form-floating > .form-control:focus ~ label,
.contacts-form .form-floating > .form-control:not(:placeholder-shown) ~ label,
.contacts-form .form-floating > .form-control-plaintext ~ label,
.contacts-form .form-floating > .form-select ~ label {
  color: var(--bs-warning) !important;
}

.contacts-form .form-floating > label::after {
  background-color: transparent !important;
}

.appointment-email-input::placeholder {
  color: var(--bs-warning);
  opacity: 0.75;
}

body.modal-open {
  padding-right: 0 !important;
  overflow-y: scroll !important;
}
